<!--[if !IE]>-->
  <script
    nonce={{ config.nonce }}
    src="{{ config.trackingConsentScriptUrl }}"
    id="tracking-consent-script-tag"
    data-gtm-container="{{ config.gtmContainer }}"
    data-language="{{ messages.lang.code }}"
  ></script>
  <!--<![endif]-->
  <!--[if lte IE 8]><link href="{{ routes.controllers.Assets.versioned("stylesheets/application-ie-8.css").url }}" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="{{ routes.controllers.Assets.versioned("stylesheets/application.css").url }}" media="not speech" rel="stylesheet" type="text/css" /><!--<![endif]-->
