{% extends "govuk/template.njk" %}
{% from "macros/hmrc-header/macro.njk"            import hmrcHeader %}
{%- set assetPath = "/assets/lib/govuk-frontend/govuk/assets" -%}
{%- set htmlLang = request.language -%}

{% block head %}
  {% include "includes/head.njk" %}
  {% block additionalHeaders %}{% endblock %}
{% endblock %}

{% block header %}
  {{ hmrcHeader({
    homepageUrl: "/disclose-cross-border-arrangements",
    serviceName: messages("site.service_name"),
    serviceUrl: "/disclose-cross-border-arrangements",
    containerClasses: "govuk-width-container",
    assetsPath: "/assets",
    signOutHref: routes.controllers.SignOutController.signOut().url
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  {% block mainContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.njk" %}
  {% endblock %}
{% endblock %}
