{% extends "govuk/template.njk" %}
{% from "hmrc/components/header/macro.njk"     import hmrcHeader %}

{% from "includes/get-help-link.njk" import hmrcReportTechnicalIssue %}
{% from "hmrc/components/timeout-dialog/macro.njk"     import hmrcTimeoutDialog %}

{%- set assetPath = "/assets/lib/govuk-frontend/govuk/assets" -%}
{%- set htmlLang = request.language -%}

{% block head %}
  {{ hmrcTimeoutDialog({
    timeout: config.timeout,
    countdown: config.countdown,
    keepAliveUrl: routes.controllers.KeepAliveController.keepAlive().url,
    signOutUrl: routes.controllers.SignOutController.signOut().url,
    timeoutUrl: routes.controllers.SessionExpiredController.onPageLoad().url
  }) }}
  {% include "includes/head.njk" %}
  {% block additionalHeaders %}{% endblock %}
{% endblock %}

{% block header %}
  {% macro phaseBanner() %}
      {{ messages("phaseBanner.1") }} <a class="govuk-link" href="{{ config.betaFeedbackUnauthenticatedUrl }}">{{ messages("phaseBanner.2") }}</a> {{ messages("phaseBanner.3") }}
  {% endmacro %}

  {% set phaseBanner = {tag: {text: "beta"}, html: phaseBanner()} %}

  {{ hmrcHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: messages("site.service_name"),
    serviceUrl: "/disclose-cross-border-arrangements/upload",
    phaseBanner: phaseBanner,
    containerClasses: "govuk-width-container",
    assetsPath: "/assets",
    signOutHref: routes.controllers.SignOutController.signOut().url
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  {% block mainContent %}{% endblock %}
    {{ hmrcReportTechnicalIssue({
      id: "getHelpWithThisPage",
      link: config.reportAProblemNonJSUrl,
      messageKey: messages("site.getHelpWithThisPage")
    }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.njk" %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}