<script src="{{ routes.controllers.Assets.versioned("javascripts/application.js").url }}"></script>
<script>window.GOVUKFrontend.initAll();window.HMRCFrontend.initAll();</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDJKHWK" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
