<script nonce={{ config.nonce }} src="{{ routes.controllers.Assets.versioned("javascripts/application.js").url }}"></script>
<script nonce={{ config.nonce }}>window.GOVUKFrontend.initAll();window.HMRCFrontend.initAll();</script>

