{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}
{% from "govuk/components/button/macro.njk"        import govukButton %}

{% block pageTitle %}
  {{ title(messages("contactDetails.organisation.title") if isOrganisation else messages("contactDetails.individual.title")) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: messages("site.back"),
     classes: "js-enabled"
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("contactDetails.organisation.heading") if isOrganisation else messages("contactDetails.individual.heading")}}
        </h1>

        {% if isOrganisation %}
          <h2 class="govuk-heading-m">
            {{ messages("contactDetails.organisation.h2") }}
          </h2>
        {% endif %}

        {{ govukSummaryList({
          rows: contactDetails
        }) }}

        {% if additionalContact  %}
          <h2 class="govuk-heading-m govuk-!-padding-top-5">
            {{ messages("contactDetails.organisation.additional.h2") }}
          </h2>

          {{ govukSummaryList({
            rows: secondaryContactDetails
          }) }}
        {% endif %}

        {% if changeProvided %}
          <form action="{{ routes.controllers.ContactDetailsController.onSubmit().url }}" method="post">
            {{ csrf() | safe }}

            <h2 class="govuk-heading-m govuk-!-padding-top-5">
              {{ messages("contactDetails.h2") }}
            </h2>

            <p class="govuk-body">{{ messages("contactDetails.p") }}</p>

             {{ govukButton({
               text: messages("contactDetails.button"),
               preventDoubleClick: true,
               attributes: {id:"submit"}
             }) }}
          </form>
        {% endif %}

        <a class="govuk-link" id='homepage-link' href='{{ homePageLink | safe }}'>{{ messages("site.homePageLink.text") }}</a>

      </div>
    </div>
  </div>

{% endblock %}
