{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}

{% block pageTitle %}
  {{ title(messages("createConfirmation.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: messages("createConfirmation.panel.title"),
          html: arrangementID
        }) }}

        <div class="govuk-body">
            <p>{{ messages("createConfirmation.p1", emailMessage) }}</p>
            <p>{{ messages("createConfirmation.p2") }}</p>
            <p>{{ messages("createConfirmation.p3", disclosureID) }}</p>
            <p>{{ messages("createConfirmation.p4", messageRefID) }}</p>
            <p>{{ homePageLink | safe }}</p>
            <p>{{ betaFeedbackSurvey | safe }}</p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}