{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  {{ title(messages("deleteDisclosureConfirmation.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-panel__title">
                  {{ govukPanel({
                    titleText: messages("deleteDisclosureConfirmation.heading")
                  }) }}
                </h1>

        <div class="govuk-body">
            <p>{{ messages("deleteDisclosureConfirmation.p1", disclosureID, arrangementID) }}</p>
            <p>{{ messages("deleteDisclosureConfirmation.p2") }}</p>
            <p>{{ messages("deleteDisclosureConfirmation.p3") }} {{ homePageLink | safe }}</p>
            <p>
              <a href="#">{{ messages("deleteDisclosureConfirmation.p5") }}</a>
              {{ messages("deleteDisclosureConfirmation.p6") }}
            </p>


        </div>

      </div>
    </div>
  </div>

{% endblock %}
