{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}

{% block pageTitle %}
  {{ title(messages("detailsUpdated.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: messages("detailsUpdated.panel.heading")
        }) }}

        <div class="govuk-body">
          <p>{{ messages("detailsUpdated.p") }}</p>
          <a class="govuk-link" id='homepage-link' href='{{ homePageLink | safe }}'>{{ messages("site.homePageLink.text") }}</a>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
