{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("fileError.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("fileError.heading") }}
        </h1>

        <div class="govuk-body">

          <p>{{ messages("fileError.p1", fileName) }}</p>

          <p>{{ messages("fileError.p2") }}</p>

          <p><a href="{{ routes.controllers.UploadFormController.onPageLoad().url }}" class="govuk-link"> {{ messages("fileError.li1") }}</a></p>

          <p><a href="{{ xmlTechnicalGuidanceUrl }}" class="govuk-link" rel="noreferrer noopener" target="_blank"> {{ messages("fileError.li2") }}</a></p>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
