{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}

{% block pageTitle %}
  {{ title(messages("fileToLargeError.title")) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: messages("site.back"),
     classes: "js-enabled",
      href: routes.controllers.UploadFormController.onPageLoad().url
    })
  }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("fileToLargeError.heading") }}
        </h1>

        <div class="govuk-body">

            <p>{{ messages("fileToLargeError.instruction") }}</p>

            <p><a href="{{ routes.controllers.UploadFormController.onPageLoad().url }}" class="govuk-link"> {{ messages("fileToLargeError.uploadNewFileLink") }}</a></p>

            <p><a href="{{ xmlTechnicalGuidanceUrl }}" class="govuk-link" rel="noreferrer noopener" target="_blank"> {{ messages("fileToLargeError.guidanceLink") }}</a></p>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
