{% extends "includes/layout.njk" %}

{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("index.title")) }}
{% endblock %}

{% block mainContent %}

{% if recruitmentBannerToggle %}
    <div id="recruitment-banner" class="full-width-banner js-hidden govuk-body">
        <div class="centered-content visible full-width-banner__container" aria-hidden="false">
            <a id="recruitment-banner-dismiss" class="full-width-banner__close" href="#" role="button">
                <span>{{ messages("recruitmentBanner.dismiss") }}</span>
            </a>
            <div class="full-width-banner__title">
                {{ messages("recruitmentBanner.title") }}
            </div>
            <p>
                <a href="https://signup.take-part-in-research.service.gov.uk/?utm_campaign=&utm_source=Other&utm_medium=other&t=HMRC&id=272"
                 target="_blank">{{ messages("recruitmentBanner.text") }}</a>
             </p>
        </div>
    </div>
{% endif %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("index.heading") }}
        </h1>

        <p class="govuk-body"> {{ messages("index.guidance")}} </p>

        {{ govukButton({
                          text: messages("index.continue"),
                          href: routes.controllers.UploadFormController.onPageLoad().url,
                          attributes: {id:"submit"}
                        }) }}

          <p class="govuk-body">
            {{messages("index.submission.paragraph.1")}}
          </p>

          <ul class="govuk-list govuk-list--bullet">
            {% if manualJourneyToggle %}
              <li>
                <a href="{{enterUrl}}" class="govuk-link">{{messages("index.submission.paragraph.link")}}</a>
              </li>
            {% endif %}
            {% if hasSubmissions %}
              <li>
                <a href="{{routes.controllers.HistoryController.onPageLoad().url}}" class="govuk-link">{{messages("history.link")}}</a>
              </li>
            {% endif %}
            {% if contactDetailsToggle %}
              <li id="contactDetails">
                <a href="{{routes.controllers.ContactDetailsController.onPageLoad().url}}" class="govuk-link">{{messages("contactDetails.link")}}</a>
              </li>
            {% endif %}
          </ul>

      </div>
    </div>
  </div>

{% endblock %}
