{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}


{% block pageTitle %}
  {{ title(messages("invalidXML.title")) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: messages("site.back")
      }) }}
{% endblock %}

{% block content %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("invalidXML.heading") }}
        </h1>

        <div class="govuk-body">

        <p>{{ messages("invalidXML.p1", fileName) }}</p>

        <p>{{ messages("invalidXML.p2") }}</p>

        <p><a href="{{ routes.controllers.UploadFormController.onPageLoad().url }}" class="govuk-link">{{ messages("invalidXML.p3") }}</a></p>

        <p><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ messages("invalidXML.p4") }}</a></p>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
