{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/table/macro.njk"         import govukTable %}



{% block pageTitle %}
  {{ title(messages("invalidXML.title")) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: messages("site.back")
      }) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("invalidXML.heading") }}
        </h1>

        <div class="govuk-body">

        <p>{{ messages("invalidXML.p1", fileName) }}</p>
        <p>{{ messages("invalidXML.p2") }}</p>

        <h2 class="govuk-heading-m">
            {{ messages("invalidXML.h2") }}
        </h2>

        <ol class="govuk-list govuk-list--number">
          <li>
            <a href="#" id="printLink" class="govuk-link">
              {{ messages("invalidXML.li1") }}
            </a>
          </li>
          <li>{{ messages("invalidXML.li2") }}</li>
          <li>
            <a href="{{xmlTechnicalGuidanceUrl}}" id="helpLink" class="govuk-link" rel="noreferrer noopener" target="_blank">
              {{ messages("invalidXML.li3") }}
            </a>
          </li>
          <li>
            <a href="{{ routes.controllers.UploadFormController.onPageLoad().url }}" id="uploadFileLink" class="govuk-link">
                {{ messages("invalidXML.li4") }}
            </a>
          </li>
        </ol>

        <br>

        {{ govukTable(tableWithErrors) }}

        </div>
      </div>
    </div>
  </div>

{% endblock %}
