{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  {{ title(messages("replaceConfirmation.title")) }}

{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: messages("replaceConfirmation.heading")
      }) }}

        <div class="govuk-body">

            {% if config.sendEmailToggle %}
                 <p>{{ messages("replaceConfirmation.p1", email) }}</p>
            {% endif %}

            <p>{{ messages("replaceConfirmation.p2", messageRefID) }}</p>

            <h2 class="govuk-heading-m">
                {{ messages("replaceConfirmation.heading.two") }}
            </h2>

            <p>{{ messages("replaceConfirmation.p3") }}</p>
            <p>{{ homePageLink | safe }}</p>
            <p>{{ betaFeedbackSurvey | safe }}</p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
