{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/table/macro.njk"         import govukTable %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {{ title(messages("submissionHistory.title"), form.errors) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: messages("site.back"),
      href: routes.controllers.IndexController.onPageLoad().url
    })
  }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">
          {{ messages("submissionHistory.heading") }}
        </h1>

        <form action="{{ routes.controllers.HistoryController.onSearch().url }}" method="post" role="search">

          {{ csrf() | safe }}

          {% if form.errors.length > 0 %}

            <div class="govuk-form-group govuk-form-group--error">

              <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
                <label class="govuk-label govuk-label--s" for="searchBox">
                  {{ messages("submissionHistory.p1") }}
                </label>
              </h2>

              <div id="search-hint" class="govuk-hint">
                {{ messages("submissionHistory.p2") }}
              </div>

              <span id="event-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>{{ form.searchBox.error.text }}
              </span>

              <input class="govuk-input govuk-!-width-one-half govuk-!-margin-right-1 govuk-input--error" id="searchBox" name="searchBox" type="text" aria-describedby="search-hint">

              <button class="govuk-button" data-module="govuk-button" id="submit">
                {{ messages("submissionHistory.button") }}
              </button>
            </div>

          {% else %}

            <div class="govuk-form-group">

              <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
                <label class="govuk-label govuk-label--s" for="searchBox">
                  {{ messages("submissionHistory.p1") }}
                </label>
              </h2>

              <div id="search-hint" class="govuk-hint">
                {{ messages("submissionHistory.p2") }}
              </div>

              <input class="govuk-input govuk-!-width-one-half govuk-!-margin-right-1" id="searchBox" name="searchBox" type="text" aria-describedby="search-hint">

              <button class="govuk-button" data-module="govuk-button" id="submit">
                {{ messages("submissionHistory.button") }}
              </button>
            </div>

          {% endif %}
        </form>

        {{ govukTable(disclosuresTable) }}

      </div>
    </div>
  </div>

{% endblock %}
