{% extends "includes/layout.njk" %}

{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/file-upload/macro.njk"   import govukFileUpload %}

{% block additionalHeaders %}
<script src="{{ routes.controllers.Assets.versioned("javascripts/upload-progress.js").url }}"></script>
<link href="/disclose-cross-border-arrangements/assets/stylesheets/spinner.css" media="not speech" rel="stylesheet" type="text/css">
{% endblock %}

{% block pageTitle %}
  {{ title(messages("upload_form.title")) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: messages("site.back")
      }) }}
{% endblock %}

{% block mainContent %}
<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

         <h1 class="govuk-heading-xl" id="heading">
             {{ messages("upload_form.heading") }}
         </h1>

<form id="dac6UploadForm" action="{{upscanInitiateResponse.postTarget}}" method="post" enctype="multipart/form-data">

    {% for key, value in upscanInitiateResponse.formFields %}
    <input type="hidden" name="{{key}}" value="{{value}}"/>
    {% endfor %}

    <div class="js-visible mt-3">

        <div class="form-group">
            <div class="form-control-wrapper">
                {{ govukFileUpload({
                  id: "file-upload",
                  name: "file",
                  attributes: {
                    "accept": ".xml,application/xml",
                    "_type": "file",
                    "class": "upload",
                    "required": "required",
                    "aria-labelledby" : "heading"
                   }
                }) }}
            </div>
        </div>

    </div>

    <div class="section">
    {{ govukButton({
                text: messages("site.continue"),
                attributes: {id:"submit"}
              }) }}
    </div>
</form>
      </div>
    </div>
  </div>
{% endblock %}