$govuk-assets-path: "/disclose-cross-border-arrangements/upload/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/disclose-cross-border-arrangements/upload/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/components/header/header";
@import "partials/header";
@import "partials/file_upload";
@import "language-toggles.scss";
@import "partials/spinner";
@import "_timeout-dialog.scss";
@import "_recruitmentBanner.scss";


.breakString {
  word-break: break-all;
}
